.footer{
    padding: 70px;
    color: white;
    .footer-get{
        
    }
    .footer-use{
        gap: 10px;
        .follow{
            display: flex;
            gap: 10px;
        }

    }
    .footer-contact{
        .number{
            display: flex;
          
            img{
                height: 20px;
            }


        }
        .mail{
            display: flex;
            img{
                height: 20px;
            }

        }
    }
}