
// @font-face {
//     font-family: Wimpykid;
//     src: url(../DiaryOfAWimpyKidFontRegular.ttf);
//   }
  

@mixin btn(){
    width: 172px;
    height: 53px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 2px;
    background: linear-gradient(to right, #FE34B9, #903AFF);
    color: white;

}