//COLOR
$blue-color: linear-gradient(to right, #fe34b9, #903aff);
$Darkpurple-color: #150e28;

$Regularpurple-color: #903aff;
$Peachpurple-color: #d434fe;

//FONT SIZE
$Font-h1: 5rem;
$Font-h2: 2rem;
$Font-h3: 1.5rem;
$Font-h4: 1.2rem;

//Predefined BreakPoints
$mediaXLWidth: 1536px;
$mediaLGWidth: 1200px;
$mediaMDWidth: 900px;
$mediaSMWidth: 600px;
$mediaXSWidth: 0px;
