//COLOR
$blue-color: linear-gradient(to right, #FE34B9, #903AFF);
$Darkpurple-color:#150E28;

$Regularpurple-color:#903AFF;
$Peachpurple-color: #D434FE;

//FONT SIZE
$Font-h1:5rem;
$Font-h2:2rem;
$Font-h3:1.5rem;
$Font-h4:1.2rem;
