//COLOR
$blue-color: linear-gradient(to right, #FE34B9, #903AFF);
$Darkpurple-color:#150E28;

$Regularpurple-color:#903AFF;
$Peachpurple-color: #D434FE;

//FONT SIZE

$Fontlxl-m:50px;
$Fontlg-m:35px;
$Fontmd-m:20px;
$Fontsm-m:18px;


$Fontlxl-h1:30px;
$Fontlg-h1:25px;
$Fontmd-h1:18px;
$Fontsm-h1:10px;


$pxl-:20px;
$plg:15px;
$pmd:12px;
$psm:8px;

