
@font-face {
  font-family: Clash;
  src: url(./ClashDisplay-Regular.ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
 
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #150E28;
  color: white;
  font-family: 'Montserrat', sans-serif;

 
  
}
