@import "../Variables";
@import "../Mixins";



nav {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
    background-color: transparent;
    height: 90px;
    width: 100%;
    padding: 20px;
    z-index: 100;
   
    border-bottom: 1px solid rgb(62, 56, 56);
    margin-bottom: 100px;
 

    background-color: $Darkpurple-color;
    background-color: $Darkpurple-color;
  

    h1{
        color: white;
        font-size: 40px;
      
    }
    .nav-logo{
      
              
        font-size:$Fontlg-h1;
        color: white;
        font-weight: 700;
        font-family: Monteserrat;
        font-size: 40px;
         
        span{
            color: $Peachpurple-color;

        }
    
    }
}

.nav-links {
    list-style: none;
    display: flex;
  
   
    width: 80%;
    justify-content: space-between;
    align-items: center;
  
    
   


.link{
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
   

}
.register{
    @include btn()

}
}



.link:hover {
    color:rgb(171,32,253);
}
 .link:hover::before{
            content: " ";
            width: 70px;
            height:10px ;
            position: absolute;
            top: 20px;
            border-bottom: 3px solid $Peachpurple-color ;
            transition: 3s;
        }

.cart{
    border: 3px solid rgb(171,32,253);
    color: rgb(171,32,253);
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px;
}

.btn{
    background-color: transparent;
    color: white;
    border: none; 
    display: none;
}





@media (max-width: 768px) {


 nav {
           position: fixed;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
          
            
        
            h1{
                color:  rgb(171,32,253);
                font-size: 40px;
              
            }
        }
        .nav-links{
            position:fixed;
            display:flex;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            justify-content: flex-start;
            background-color: transparent;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 40px;
          
     
            gap: 25px;
            font-size: 30px;
        transition: 1s;
        transform: translateY(-200vh);
        background-color:$Darkpurple-color;
    
        }
        .nav-open{
            display: inline;
            margin: 10px;
        }
        .nav-close{
            display: inline;
            margin: 10px;
            width: 20px;
            height: 20px;
            border: 2px solid $Peachpurple-color;
           border-radius: 50%;
           position: relative;
        //    left: 62%;
           top: 6%;
        left: 85%;
    
        }
    
        .cart{
            display: inline-block;
        }
        .reponsive{
            transform:none;
    
            
        }




    @media (max-width: 480px) {
        nav {
           position: fixed;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
          
            
        
            h1{
                color:  rgb(171,32,253);
                font-size: 40px;
              
            }
        }
        .nav-links{
            position:fixed;
           display:flex;
           top: 0;
           left: 0;
           width: 100vw;
           height: 100%;
           justify-content: flex-start;
           background-color: transparent;
           flex-direction: column;
            gap: 40px;
           font-size: 30px;
        transition: 1s;
       transform: translateY(-200vh);
       background-color:$Darkpurple-color;
    
        }
        .nav-open{
            display: inline;
            margin: 10px;
        }
        .nav-close{
            display: inline;
            margin: 10px;
    
        }
    
        .cart{
            display: inline-block;
        }
        .reponsive{
            transform:none;
    
            
        }
    

    }

}